body{
    margin: 0;
    padding: 0;
}
/*.container{
    display: grid;
}*/
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.left-side{
    display: flex;
}
.nav-wrapper > .left-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}
.nav-link-wrapper1{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.nav-link-wrapper1 a{
    color: #8a8a8a;
    text-decoration: none;
}
.right-side{
    display: flex;
}
.nav-wrapper > .right-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    /*text-transform: uppercase;*/
}
.nav-link-wrapper2{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.nav-link-wrapper2 a{
    color: #8a8a8a;
    text-decoration: none;
}
.box{
    background-image: url("image/img1.jpg");
    /*padding-left: 0px;
    padding-right: 0px;*/
    max-width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    /*color: tomato;*/
    color: rgba(255, 91, 71, 0.7);
    

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}
.brand{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Nosifer', cursive;
    font-size: 100px;
    font-style: oblique;
    
}
h1{
    font-size: 100px;
}